.calculator {
  display: flex;
  flex-direction: row;
}
.calculator-content {
  flex: 1;
}
.calculations {
  flex: 1;
  padding: 10px;
  margin-right: 400px;
}
#heading{
  margin-right: 190px;
}
#keypad_input{
  outline: none;
  border: none;
  width:320px;
  height:70px;
  font-size: 32px;
  padding:2px 10px;
  background: #333333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color:white;
}
.button{
  width:85px;
  height:90px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-top: 1px solid #111111 ;
  border-right: 1px solid #111111;
}
.button.button-gray:hover {
  background-color: rgb(91, 91, 91);
  color: #333;
}
.button.digit:hover {
  background-color: rgb(100, 100, 100);
  color: #333;
}
button.operator:hover {
  background-color: #fa9025;
  color: #fff;
}
.zero {
  width: calc(2 * 85px);
}
.operator {
  background-color: orange;
  color: white;
}
.button-gray{
  background-color:rgb(76, 76, 76);
  color:white;
}
.digit{
  background-color:gray;
  color:white;
}
#input{
 height: 30px;
}
#input_button{
  color:blue;
}
#cal_heading {
  font-size: 20px;
  margin-right:20%;
}
#input {
  width: 200px;
  height: 24px;
  padding: 5px;
}
#input_button {
  background-color: blue;
  color: white;
  margin-left: 20px;
  padding: 10px 38px;
  border: 3px;
  cursor: pointer;
}

#input_button:hover {
  background-color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

tbody td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.delete-btn{
  margin-left: 10px;
}
.cancel-btn{
  margin-left: 10px;
}










  
  


  


